<template name="navbar">
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="{{pathFor route='accueil'}}" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{{pathFor route='accueil'}}">Accueil</a></li>

        {{#if currentUser}}
          {{#if isAdmin currentUser }}
            <li><a href="{{pathFor route='admin.dashboard'}}">Administration</a></li>
          {{/if}}
          <li><a href="{{ pathFor route='forum.categories'}}">Forum</a></li>
          {{> user_dropdow }}
        {{else}}
          <li><a href="{{pathFor route='user.register'}}">S'inscrire</a></li>
          <li><a href="{{pathFor route='user.login'}}">Se connecter</a></li>
        {{/if}}
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="{{pathFor route='accueil'}}">Accueil</a></li>
        {{#if currentUser}}
          {{#if isAdmin currentUser }}
            <li><a href="{{pathFor route='admin.dashboard'}}">Administration</a></li>
          {{/if}}
          <li><a href="{{ pathFor route='forum.categories'}}">Forum</a></li>
          {{> user_dropdown_sidenav }}
        {{else}}
          <li><a href="{{pathFor route='user.register'}}">S'inscrire</a></li>
          <li><a href="{{pathFor route='user.login'}}">Se connecter</a></li>
        {{/if}}

      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

</template>

<template name="user_dropdow">
  <ul id="user-dropdown" class="dropdown-content">
    <li><a href="{{pathFor route='user.ownprofile'}}">Mon profile</a></li>
    <li class="divider"></li>
    <li><a href="{{pathFor route='user.logout'}}">Déconnexion</a></li>
  </ul>

  <li><a class="dropdown-button" id="user_dropdown_button" href="#" data-activates="user-dropdown">{{ currentUser.username }}<i class="material-icons right">arrow_drop_down</i></a></li>
</template>

<template name="user_dropdown_sidenav">
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header">{{ currentUser.username }}<i class="material-icons right">arrow_drop_down</i></a>
        <div class="collapsible-body">
          <ul>
            <li><a href="{{pathFor route='user.ownprofile'}}">Mon profile</a></li>
            <li class="divider"></li>
            <li><a href="{{pathFor route='user.logout'}}">Déconnexion</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
</template>
