@import '{bricklou:materialize-addons}/sass/components/_color-variables.scss';
@import '{bricklou:materialize-addons}/sass/components/_color-classes.scss';
@import '{bricklou:materialize-addons}/sass/components/_variables.scss';

.dashboard-links {
	color: color("shades", "black");
	&:hover {
		color: color("light-blue", "darken-1");
	}
}

.dashboard-back:hover {
	background-color: rgba(0, 0, 0, .15) !important;

	i {
		color: color("teal", "lighten-1") !important;
	}
}

#search_user label {
	right: 20px !important;
	text-align: right;
}

.delete_user_btn_admin {
	&:hover {
		background-color: rgba(0, 0, 0, .15) !important;

		i {
			color: color("red", "darken-1") !important;
		}
	}
}
